{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="job-detail">

    <h2 class="job-title">{{ job.title }}</h2>
    <div class="job-meta">
        {% if job.salary %}
            <div class="meta-item">
                <span class="icon">
                    <img src="{% static 'icons/salary.svg' %}" alt="salary">
                </span>
                <span>{{ job.salary }}</span>
            </div>
        {% endif %}
        {% comment %} <br> {% endcomment %}
        {% if job.experience %}
            <div class="meta-item">
                <span class="icon">
                    <img src="{% static 'icons/experience.svg' %}" alt="experience">
                </span>
                <span>{{ job.experience }}</span>
            </div>
        {% endif %}
        {% comment %} <br> {% endcomment %}
        {% if job.job_type %}
            <div class="meta-item">
                <span class="icon">
                    <img src="{% static 'icons/job_type.svg' %}" alt="job_type">
                </span>
                <span>{{ job.job_type }}</span>
            </div>
        {% endif %}
    </div>

    <div class="job-section">
        <h3>Описание</h3>
        <p>{{ job.description|linebreaks }}</p>
    </div>

    <div class="job-section">
        <h3>Навыки</h3>
        <p>{{ job.key_skills }}</p>
    </div>

    <a href="/results/" class="btn btn-outline">← Назад</a>

</div>

{% endblock %}